Brotli==1.1.0
certifi==2025.10.5
cffi==2.0.0
charset-normalizer==3.4.4
confluent-kafka==2.5.3
cssselect2==0.8.0
fastavro==1.12.1
fonttools==4.60.1
idna==3.11
Markdown==3.9
pillow==12.0.0
psycopg==3.2.11
psycopg-binary==3.2.11
pycparser==2.23
pydyf==0.11.0
pyphen==0.17.2
requests==2.32.5
tinycss2==1.4.0
tinyhtml5==2.0.0
ulid-py==1.1.0
urllib3==2.5.0
weasyprint==66.0
webencodings==0.5.1
zopfli==0.2.3.post1
